<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1><%= @cocktail.name %></h1>
      <% if @cocktail.photo_url %>
        <div id="cardholders" data-aos="flip-left" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        </div>
      <% else %>
        <div id="cardholders" data-aos="flip-left" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        </div>
      <% end %>
      <br>

      <h3>Recipe</h3>
      <% @cocktail.doses.each do |dose| %>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-secondary btn-sm' do %>
          <i class="fa fa-trash destroy_dose"></i>
        <% end %>
        <br>
      <% end %>
      <br>

      <% # /cocktails/:coktail_id/doses %>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <br>
      <%= link_to "Back to list", cocktails_path, class: 'btn btn-secondary btn-sm' %>

    </div>
  </div>
</div>
